body {
  overflow: hidden;
  font-size: 0.8rem;
}

.app {
  background-image: url(./Images/coins.png), url(./Images/bg-center.png),
    url(./Images/bg.jpg);
  background-position: center bottom, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, auto, cover;
  width: 100vw;
  height: 100vh;
}

.falling-coins-container {
  position: static;
  width: 100vw;
  height: 100vh;
}

.falling-coin {
  position: absolute;
  top: -50px; /* Start above the screen */
  animation: fall linear infinite; /* Make the animation repeat infinitely */
}

.falling-coin img {
  width: 50%; /* Adjust the size of the coins */
  height: auto;
}

@keyframes fall {
  0% {
    transform: translateY(0); /* Start from the top */
  }
  100% {
    transform: translateY(100vh); /* Fall to the bottom */
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto 1fr;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 4vh;
  z-index: 1;
}

.header-logos {
  display: grid;
  place-items: center;
  height: 100%;
  grid-template-columns: auto auto;
}

.header-coin {
  height: 93px;
}

.slogan {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: Roboto-Black, sans-serif;
  line-height: 1;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  background: linear-gradient(
    180deg,
    #fffe1f 5.35%,
    #fffe1f 15.98%,
    #ffa20c 28.14%,
    #ffc70e 40.6%,
    #fffe1f 52.77%,
    #fffe1f 65.5%,
    #ffa20c 80.43%,
    #fffe1f 93.17%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b60001;
  margin: 1.4rem 0;
  z-index: 1;
}

.form {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background: url(./Images/bg-form.jpg) no-repeat 50% / cover;
  border: 2px solid #ffb800;
  border-radius: 8px;
  padding: 4vh;
  z-index: 1;
  color: #fff;
}

.form-title__title {
  text-transform: uppercase;
  -webkit-text-stroke-color: #cc0100;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient(
    180deg,
    #fffe1f 26.15%,
    #fffe1f 41.35%,
    #ffa20c 64.15%,
    #ffc70e 78.57%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-title__bonus {
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.4rem;
  -webkit-text-stroke-color: #cc0100;
  -webkit-text-stroke-width: 1px;
  background: linear-gradient(
    180deg,
    #fffe1f 26.15%,
    #fffe1f 41.35%,
    #ffa20c 64.15%,
    #ffc70e 78.57%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-title {
  font-family: Roboto-Bold, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.tabs {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.tabs__item {
  list-style: none;
  cursor: pointer;
  width: 50%;
}

.tabs__item > button {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  padding: 0.4rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    270deg,
    rgba(255, 36, 0, 0),
    #ff2400 49.1%,
    rgba(255, 36, 0, 0)
  );
}

.phone-dropdown {
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: 1px solid #fff;
  color: #fff;
}

.select-phone__placeholder-input {
  background-color: transparent;
  border: none;
  color: #fff;
}

.email-form__email-input,
.email-form__password-input {
  display: block;
  /* width: 100%; */
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.2rem 0.2rem 0.2rem 0.8rem;
  box-sizing: border-box;
}

.email-form__password-input {
  display: inline-block;
  width: 90%;
}

.email-form__email-input {
  width: 100%;
}

.email-form__password-input::placeholder,
.email-form__email-input::placeholder {
  color: #fff;
}

.email-form,
.password-form {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  margin: 0.4rem 0;
}

.form-phone,
.form-currency {
  border-bottom: 1px solid #fff;
  padding: 0.4rem;
}

.currency-dropdown {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
}

.submit-btn {
  margin: 0.8rem auto;
  width: 100%;
  height: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  background: #ff2400;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.forms__questions {
  text-align: center;
}

.forms__signin-link {
  color: #ff2400;
}

.checkbox__text {
  display: inline;
  margin-left: 4px;
}

.email-form__view-icon {
  display: inline-block;
}

.email-form__view-icon > img {
  min-height: 21px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  display: inline-flex;
}

.checkbox-container input {
  display: none;
}

.custom-checkbox {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #e2e2e2;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.2s, background-image 0.2s;
}

.checkbox-container input:checked + .custom-checkbox {
  background-image: url("./Images/checkbox.svg");
  background-size: cover;
  background-position: center;
  border-color: transparent;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox-container input:checked + .custom-checkbox::after {
  opacity: 0;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  color: #fff;
  border: none;
  border-right: 1px solid #fff;
  width: 15%;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: #840121;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  padding: 0.2rem;
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-option:hover {
  background-color: #420010;
  color: #fff;
}

.dropdown-menu > li > img {
  height: 0.8rem;
  border-radius: 4px;
  margin-right: 8px;
}

.dropdown-button-flag {
  height: 0.8rem;
  margin-right: 8px;
}

.dropdown-phone {
  background-color: transparent;
  border: none;
  display: inline-block;
  color: #fff;
  width: 82%;
  padding: 0 0.2rem;
}
